CLICKUP_TOKEN=pk_101222730_2IE2MQKTBOP1HCOQX2GXN0BYS0DS1FYC

# Segurança dos endpoints internos (gere uma string aleatória forte)
INTERNAL_SECRET=

# Plugar quando tiver a Z-API
ZAPI_INSTANCE=
ZAPI_TOKEN=
